{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/commentboard.css">
<script src="/static/commentboard.js"></script>
{% endblock %}

{% block body %}
<div class="ui omments">
    <div class="ui header"></div>
    <div class="comment">
        <div class="content">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="comment">
        <div class="content">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="comment">
        <div class="content">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="comment">
        <div class="content">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="comment">
        <div class="content">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
{% endblock %}