{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/index.css">
<script src="/static/index.js"></script>
{% endblock %}

{% block body %}
    {% if user %}
        <div>
            <p>hello!! {{user}}</p>
            <ul>
                <li><a href="logout">logout</a></li>
            </ul>
            
            <form action="comments/1" method="POST">
                <input type="text" name="mesg" placeholder="message to board 1">
                <input type="submit">
            </form>

            <form class="ui form" action="newboard" method="POST">
                <div class="field">
                    <label for="your page url"></label>
                    <input type="text" name="pageUrl" placeholder="your page url">
                </div>
            </form>

            <div class="ui divided items">
                {% for url in urls %}
                    <div class="item">
                        <div class="middle aligned content">
                            <a class="header" href="">{{url}}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>   
    {% else %}
        <div>
            <div class="ui basic segment">
                <div class="ui two column middle aligned very relaxed stackable grid">
                    <div class="column">
                        <form class="ui form" id="loginForm">
                            <div class="field">
                                <label for="">Your Mail</label>
                                <input type="email" id="usermailVal" placeholder="usermail">
                            </div>
                            <div class="field">
                                <label for="">Password</label>
                                <input type="password" id="passwordVal" placeholder="password">
                            </div>
                            <button class="ui button">Login</button>
                        </form>
                    </div>
                    <div class="ui vertical divider">Or</div>
                    <div class="column">
                        <form class="ui form"  id="registForm">
                            <div class="field">
                                <label for="">Your Mail</label>
                                <input type="email" id="registUsermailVal" placeholder="usermail">
                            </div>
                            <div class="field">
                                <label for="">Password</label>
                                <input type="password" id="passwordVal1" placeholder="password">
                            </div>
                            <div class="field">
                                <label for="">Password</label>
                                <input type="password" id="passwordVal2" placeholder="confirm password">
                            </div>
                            <button class="ui button">regist</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}