{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/index.css">
<script src="/static/index.js"></script>
{% endblock %}

{% block body %}
    {% if user %}
        <div>
            <p>hello!! {{user}}</p>
            <ul>
                <li><a href="logout">logout</a></li>
            </ul>

            <form class="ui form" id="createBoardForm">
                <div class="field">
                    <label for=""></label>
                    <input type="text" id="newBoardVal" placeholder="your page url">
                </div>
                <button class="ui button">add</button>
            </form>

            <div class="ui divided items" id="commentItem"></div>
        </div>   
    {% else %}
        <div>
            <div class="ui basic segment">
                <div class="ui two column middle aligned very relaxed stackable grid">
                    <div class="column">
                        <form class="ui form" id="loginForm">
                            <div class="field">
                                <label for="">Your Mail</label>
                                <input type="email" id="usermailVal" placeholder="usermail">
                            </div>
                            <div class="field">
                                <label for="">Password</label>
                                <input type="password" id="passwordVal" placeholder="password">
                            </div>
                            <button class="ui button">Login</button>
                        </form>
                    </div>
                    <div class="ui vertical divider">Or</div>
                    <div class="column">
                        <form class="ui form"  id="registForm">
                            <div class="field">
                                <label for="">usermail</label>
                                <input type="email" id="registUsermailVal" placeholder="usermail">
                            </div>
                            <div class="field">
                                <label for="">nickname</label>
                                <input type="text" id="registNicknameVal" placeholder="nickname">
                            </div>
                            <div class="field">
                                <label for="">Password</label>
                                <input type="password" id="passwordVal1" placeholder="password">
                            </div>
                            <div class="field">
                                <label for="">Password</label>
                                <input type="password" id="passwordVal2" placeholder="confirm password">
                            </div>
                            <button class="ui button">regist</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}